.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    background: #01776b;
    top: 0;
    position: fixed;
    width: 100%;
}

.nav-logo{
    font-size: 2rem;
    font-weight: bold;
    padding: 1.5rem;
    margin-left: 4rem;
}

.nav-menu{
    font-size: 1.3rem;
    padding: 1rem;
    width: 70%;
}

.nav-menu ul{
    list-style: none;
    display: flex;
    justify-content: end;
    flex-direction: row;
}

.nav-menu li {
    justify-content: space-between;
    margin-right: 4rem;
}

.nav-menu li:hover{
    font-weight: bold;
    cursor: pointer;
}