.footer{
    background: #01776b;
    color: #fff;
    height: 20vh;
    display: inline-block;
    width: 100%;
}

.footer p{
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 4rem;
    text-align: center;
}